<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713343863173-t0v9r0te2agcmm2vb6ne8fru06d1tt8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713343863173-t0v9r0te2agcmm2vb6ne8fru06d1tt8p</string>
	<key>API_KEY</key>
	<string>AIzaSyBLQHmHpF8m-2g6mWOs-VuXBRSxkMT9RnY</string>
	<key>GCM_SENDER_ID</key>
	<string>713343863173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactjs.NauqanApp</string>
	<key>PROJECT_ID</key>
	<string>naucanapp-1556952948082</string>
	<key>STORAGE_BUCKET</key>
	<string>naucanapp-1556952948082.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713343863173:ios:e065df95d7f4a065</string>
	<key>DATABASE_URL</key>
	<string>https://naucanapp-1556952948082.firebaseio.com</string>
</dict>
</plist>